! name.class.resource: value
! name -- The name of the application, such as xterm, xpdf, etc
! class -- The classification used to group resources together. Class names are typically uppercase.
! resource -- The name of the resource whose value is to be changed. Resources are typically lowercase with
!   uppercase concatenation
! value -- The actual value of the resource. This can be 1 of 3 types:
!   * Integer (whole numbers)
!   * Boolean (true/false, yes/no, on/off)
!   * String (a string of characters) (for example a word (white), a color (#ffffff), or
!     a path (/usr/bin/firefox))
! wildcards
!   * - represent any number of intervening components including none.
!   ? - match any single component name

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt*font: xft:Monospace:pixelsize=14
URxvt*boldFont: xft:Monospace:pixelsize=14

URxvt*letterSpace: -1

URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

URxvt.lineSpace: 0

URxvt.internalBorder: 20

URxvt.loginShell: true
