/* password-config.rasi - minimal, clean for password input */

@import "config.rasi"

* {
    scrollbar: false;
    lines: 0;
    echo-pass: true;
    disable-history: true;
}

window {
    location: south;   /* bottom center of the screen */
    anchor: south;     /* bottom side of the Rofi window fixed there */
    width: 40%;        /* adjust width as desired */
}
