# This is used for readline
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string "+"
set vi-cmd-mode-string ":"

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
# Jump to the opening parenthesis when typing the closing
set blink-matching-paren On
# Allow up to 200 tab items to appear without prompting the user
set completion-query-items 200
# Put brackets around copied commands
set enable-bracketed-paste On

set keymap emacs
"\ee": vi-editing-mode

set keymap vi-command
"\ee": emacs-editing-mode

set keymap vi-insert
"\ee": emacs-editing-mode
"\C-l": clear-screen
